<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>This is home page 1+2</h1>
    <h3>
        <%= 1 + 2 %>
    </h3>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto saepe pariatur eius? Dolore recusandae vitae
        sed debitis, alias inventore adipisci animi iste rerum cupiditate. Saepe fuga in accusantium quaerat obcaecati!
        Molestias, blanditiis! Nobis blanditiis, officiis sunt atque nam hic nihil tempora quae provident quos quis
        libero nesciunt, aperiam voluptatem placeat, neque maxime tenetur. Provident totam dolorum id ipsa. Sint, quo.
    </p>

    <button>click me!</button>
</body>

</html>